<div class="container-fluid mt-4">
  <div class="row mb-3">
    <div class="col-lg-6">
      <h4 class="mb-0">Marvel Characters</h4>
    </div>
    <div class="col-lg-6">
      <input
        class="form-control"
        type="text"
        placeholder="Search by exact character name"
        (keyup)="findCharacter($event)"
      />
    </div>
  </div>

  <p class="text-muted" *ngIf="isLoading">Loading characters...</p>
  <p class="text-muted" *ngIf="isSearchLoading">Searching character...</p>
  <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div class="row" *ngIf="!showSearchResult">
    <div class="col-lg-3 mt-3 mb-3" *ngFor="let character of allCharacters">
      <div class="card h-100">
        <img [src]="imageUrl(character.thumbnail.path, character.thumbnail.extension)" class="card-img-top" alt="Character image" />
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
          <button type="button" (click)="fetchComicsByCharacter(character.id)" class="btn btn-outline-primary mr-2" data-toggle="modal" data-target=".comics-modal">Comics</button>
          <button type="button" (click)="fetchSeriesByCharacter(character.id)" class="btn btn-outline-secondary" data-toggle="modal" data-target=".series-modal">Series</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="showSearchResult">
    <div class="col-lg-3 mt-3 mb-3" *ngFor="let character of searchedCharacter">
      <div class="card h-100">
        <img [src]="imageUrl(character.thumbnail.path, character.thumbnail.extension)" class="card-img-top" alt="Character image" />
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="searchedCharacter.length === 0 && !isSearchLoading">
      <p class="text-muted">No character found for this name.</p>
    </div>
  </div>
</div>

<div class="modal fade comics-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comics</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="showComicsDiv">
          <div class="col-lg-3 mt-3 mb-3" *ngFor="let comic of comics">
            <div class="card h-100">
              <img [src]="imageUrl(comic.thumbnail.path, comic.thumbnail.extension)" class="card-img-top" alt="Comic image" />
              <div class="card-body">
                <h5 class="card-title">{{ comic.title }}</h5>
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="!showComicsDiv" class="text-muted">No comics found for this character.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade series-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Series</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="showSeriesDiv">
          <div class="col-lg-3 mt-3 mb-3" *ngFor="let s of series">
            <div class="card h-100">
              <img [src]="imageUrl(s.thumbnail.path, s.thumbnail.extension)" class="card-img-top" alt="Series image" />
              <div class="card-body">
                <h5 class="card-title">{{ s.title }}</h5>
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="!showSeriesDiv" class="text-muted">No series found for this character.</p>
      </div>
    </div>
  </div>
</div>
